.listtem {
  height: 120px;
  border: 1px solid transparent; /* 테두리 초기화 */
  border-top: 1px solid #ccc; /* 상단 테두리만 추가 */
  border-radius: 4px;
  overflow: hidden;
  display: flex;
}

.news-image {
  display: flex;
  align-items: center; /* 세로로 가운데 정렬 */
}

.flex-shrink-0 {
  display: flex;
  align-items: center; /* 추가: 세로로 가운데 정렬 */
}

.listtem a {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.text-xl,
.text-gray-500 {
  margin: 0;
}

.news-text {
  margin-top: 1rem;
  width: 800px;
}
